<section class="wrapper">
  <section class="about_us_info">
    <app-titled-section>
      <h2 s-title class="tui-text_h3" align="left">Всем привет!👋</h2>
      <p s-content class="home_page_section_text" align="left">
        Это проект <span select>Игровые Задачи</span>, и Вы находитесь на нашем
        сайте. Здесь вы найдёте всё то, над чем наша команда трудилась целый
        год!
      </p>
    </app-titled-section>

    <app-titled-section>
      <h2 s-title class="tui-text_h3" align="right">🤔Что это за сайт?</h2>
      <div s-content class="home_page_section_text_wrapper">
        <p class="home_page_section_text" align="right">
          Мы сделали не просто сборник. Это
          <span select>зарождающееся сообщество</span>, которое мы хотим
          развить. Идеи должны идти не только от команды, но и от пользователей!
        </p>
      </div>
    </app-titled-section>

    <app-titled-section>
      <h2 s-title class="tui-text_h3">Все могут внести свой вклад✅</h2>
      <p s-content class="home_page_section_text">
        Ты тоже можешь стать частью сообщества! Связаться с нами по поводу
        сотрудничества можно по <a tuiLink routerLink="contacts">ссылке</a>
      </p>
    </app-titled-section>
  </section>

  <section class="call_to_action">
    <app-titled-section s_textAlign="center">
      <h3 s-title class="tui-text_h4" align="center">Присоединяйся!🎉</h3>
      <a
        s-content
        tuiButton
        type="button"
        iconRight="tuiIconChevronRightLarge"
        title="Поехали!"
        size="m"
        routerLink="tasks"
        class="action_btn"
      >
        Поехали!
      </a>
    </app-titled-section>
  </section>

  <!-- <app-titled-section>
    <h4 s-title class="tui-text_h6">Наши партнёры</h4>
    <app-contributors-carousel s-text></app-contributors-carousel>
  </app-titled-section> -->
</section>
