<article class="control_panel">
  <app-titled-section>
    <h2 s-title class="tui-text_h5">Панель управления🔒</h2>

    <div s-content class="tasks_table_wrapper">
      <div class="tasks_table_wrapper_header">
        <button
          tuiIconButton
          icon="tuiIconPlusLarge"
          title="Добавить задачу"
          size="s"
        ></button>
      </div>
      <table tuiTable [columns]="columns" class="tasks_table tui-text_body-m">
        <thead>
          <tr tuiThGroup>
            <ng-container *ngFor="let col of columnsHeaders">
              <th tuiTh [resizable]="true">
                <h4>{{ col }}</h4>
              </th>
            </ng-container>
          </tr>
        </thead>

        <tbody
          tuiTbody
          *tuiLet="
            tasksDataService.tasksList$ | async | tuiTableSort as sortedTasks
          "
          [data]="sortedTasks ?? []"
        >
          <tr *ngFor="let task of sortedTasks" tuiTr>
            <td *tuiCell="'title'" tuiTd>
              <a tuiLink [routerLink]="'/tasks/' + task.taskId">
                {{ task.taskId }}. {{ task.title }}
              </a>
            </td>
            <td *tuiCell="'theme'" tuiTd>
              <p>{{ task.theme }}</p>
            </td>
            <td *tuiCell="'level'" tuiTd>
              <app-task-level-badge
                [level]="task.level"
                size="m"
              ></app-task-level-badge>
            </td>
            <td tuiTd *tuiCell="'actions'" class="table_actions_cell">
              <button
                tuiIconButton
                appearance="secondary"
                icon="tuiIconEdit3"
                title="Редактировать"
                size="s"
                class="action_button"
              ></button>
              <button
                tuiIconButton
                appearance="secondary-destructive"
                icon="tuiIconTrash2"
                title="Удалить"
                size="s"
                class="action_button"
              ></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-titled-section>
</article>
